.history-container {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #000000;
}

.history-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.history-header, .history-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #1F51FF;
}

.history-header {
  font-weight: bold;
  background-color: #1F51FF;
  text-align: center;
  color: black;
}

.history-row {
  background-color: #333333;
}

.history-row div {
  flex: 1;
  text-align: center;
}
